<md-card flex layout="column" style="outline:none;" align="left">
  <md-card-content>
    <md-input-container class="md-block">
      <label>Contact Email</label>
      <input ng-model="$ctrl.organisation.emails[0].address" type="email">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Facebook</label>
      <input ng-model="$ctrl.organisation.social.facebook">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Twitter</label>
      <input ng-model="$ctrl.organisation.social.twitter">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Instagram</label>
      <input ng-model="$ctrl.organisation.social.instagram">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Youtube</label>
      <input ng-model="$ctrl.organisation.social.youtube">
    </md-input-container>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="$ctrl.modify()">Save</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
