<md-card flex layout="column" style="outline:none;" align="left">
  <md-card-content>
    <div layout="row" layout-align="start center" layout-margin>
      <span flex>Avatar</span>
      <img-upload
        can-edit="true"
        on-success="$ctrl.imageSave(data, 'avatar')"
        on-delete="$ctrl.imageDelete('avatar')"
        on-error="$ctrl.imageError(error)"
        cl-img="$ctrl.user.avatar">
      </img-upload>
    </div>

    <md-input-container class="md-block">
      <label>Name</label>
      <input ng-model="$ctrl.user.name">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Email</label>
      <input ng-model="$ctrl.user.email" type="email" disabled>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Phone</label>
      <input ng-model="$ctrl.user.phone">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Address</label>
      <input
        ga-autocomplete
        ng-model="$ctrl.user.address"
        details="$ctrl.newAddress">
      </input>
    </md-input-container>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="$ctrl.modify()">Save</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
