<md-card flex layout="column" style="outline:none;" align="left">
  <md-card-content>
    <md-input-container class="md-block">
      <label>Name</label>
      <input ng-model="$ctrl.user.name">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Email</label>
      <input ng-model="$ctrl.user.email" type="email">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Phone</label>
      <input ng-model="$ctrl.user.phone">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Address</label>
      <input ng-model="$ctrl.user.address"></input>
    </md-input-container>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="$ctrl.modify()">Save</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
