<md-bottom-sheet class="md-list md-has-header">
  <md-list ng-cloak>
    <md-list-item ui-sref="help" ng-click="$ctrl.hide()"><span><md-icon>help_outline</md-icon> Help</span></md-list-item>
    <md-list-item ui-sref="home" ng-click="$ctrl.hide()"><span><md-icon>share</md-icon> Share</span></md-list-item>
    <md-list-item ng-click="$ctrl.hide()" ui-sref="organisationEdit({organisationId: $ctrl.organisationId})" ng-if="$ctrl.pageOwned && $ctrl.organisationId"><span><md-icon>settings</md-icon> Edit this Organisation</span></md-list-item>

    <md-list-item ng-click="$ctrl.hide()" ui-sref="profileEdit({userId: $ctrl.userId})" ng-if="$ctrl.pageOwned && $ctrl.userId"><span><md-icon>settings</md-icon> Edit this Profile</span></md-list-item>
  </md-list>
</md-bottom-sheet>
