<!-- top menu when large -->
<md-nav-bar
  md-selected-nav-item="currentNavItem"
  nav-bar-aria-label="navigation links"
  hide-xs>
  <!-- pages -->
  <md-nav-item md-nav-click="$ctrl.goTo('home')" name="home">Home</md-nav-item>
  <md-nav-item md-nav-click="$ctrl.goTo('profile')" name="profile" ng-if="$ctrl.userActive">My Profile</md-nav-item>
  <md-nav-item md-nav-click="$ctrl.goTo('home')" name="home" ng-if="$ctrl.userActive">My Organisations</md-nav-item>
  <md-nav-item md-nav-click="$ctrl.goTo('home')" name="home" ng-if="$ctrl.userActive">Messages</md-nav-item>
  <md-nav-item md-nav-click="$ctrl.goTo('home')" name="home" ng-if="$ctrl.userActive">Bookmarks</md-nav-item>
  <md-nav-item md-nav-click="$ctrl.goTo('home')" name="home" ng-if="$ctrl.userActive">Endorsements</md-nav-item>
  <span flex></span>
  <!-- log in button -->
  <!--<auth-login-button></auth-login-button>-->
  <md-button aria-label="login" class="md-icon-button" ng-click="$ctrl.searchActive = !$ctrl.searchActive; $ctrl.searchFilter = ''" ng-if="!$ctrl.searchDisabled">
    <md-icon style="color:black;">{{$ctrl.searchActive ? 'close' : 'search'}}</md-icon>
  </md-button>
</md-nav-bar>

<!-- side menu when small -->
<md-toolbar hide-gt-xs>
  <div class="md-toolbar-tools">
    <!-- menu button -->
    <md-button aria-label="login" class="md-icon-button" ng-click="$ctrl.toggle()">
      <md-icon style="color:black;">menu</md-icon>
    </md-button>
    {{$ctrl.title}}
    <span flex></span>
    <!-- log in button -->
    <!--<auth-login-button></auth-login-button>-->
    <md-button aria-label="login" class="md-icon-button" ng-click="$ctrl.searchActive = !$ctrl.searchActive; $ctrl.searchFilter = ''" ng-if="!$ctrl.searchDisabled">
      <md-icon style="color:black;">{{$ctrl.searchActive ? 'close' : 'search'}}</md-icon>
    </md-button>

    <md-menu>
      <md-button aria-label="More" class="md-icon-button" ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
        <md-icon style="color:black;">more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-list>
          <md-list-item class="md-2-line" ui-sref="home"><span><md-icon style="color:black;">share</md-icon> Share</span></md-list-item>
          <md-list-item class="md-2-line" ui-sref="home"><span><md-icon style="color:black;">cloud_upload</md-icon> Analytics</span></md-list-item>
          <md-list-item class="md-2-line" ui-sref="home" ng-if="$ctrl.pageOwned"><span><md-icon style="color:black;">content_copy</md-icon> Copy</span></md-list-item>
          <md-list-item class="md-2-line" ui-sref="organisationEdit" ng-if="$ctrl.pageOwned"><span><md-icon style="color:black;">print</md-icon> Edit this {{$ctrl.pageType}}</span></md-list-item>
        </md-list>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<search-bar
  ng-if="$ctrl.searchActive"
  search-filter="$ctrl.searchFilter">
</search-bar>

<md-sidenav
  class="md-sidenav-left"
  md-component-id="menu"
  md-whiteframe="4">
    <md-content layout-padding style="background:grey;" ng-if="$ctrl.userActive" align="left">
      <user-avatar size="75"></user-avatar>
      <br/>
      <span style="color:white;">{{$ctrl.user.emails[0].address || ''}}</span>
    </md-content>
    <md-list layout-align="space-around" layout="column">
      <!-- pages -->
      <md-list-item ui-sref="home" ng-click="$ctrl.toggle()"><span><md-icon>home</md-icon> Home</span></md-list-item>
      <md-list-item ui-sref="profile" ng-click="$ctrl.toggle()"><span><md-icon>account_box</md-icon> My Profile</span></md-list-item>
      <md-list-item ui-sref="home" ng-click="$ctrl.toggle()" ng-if="$ctrl.userActive"><span><md-icon>send</md-icon> My Organisations</span></md-list-item>
      <md-list-item ui-sref="home" ng-click="$ctrl.toggle()" ng-if="$ctrl.userActive"><span><md-icon>forum</md-icon> Messages</span></md-list-item>
      <md-list-item ui-sref="home" ng-click="$ctrl.toggle()" ng-if="$ctrl.userActive"><span><md-icon>bookmark</md-icon> Bookmarks</span></md-list-item>
      <md-list-item ui-sref="home" ng-click="$ctrl.toggle()" ng-if="$ctrl.userActive"><span><md-icon>people</md-icon> Endorsements</span></md-list-item>
    </md-list>
</md-sidenav>
