<navbar
  user="$ctrl.user"
  user-active="$ctrl.userActive"
  title="Food Map">
</navbar>
<main>
  <promo-splash
    text="$ctrl.promoText"
    ng-if="$ctrl.searchFilter === ''">
  </promo-splash>
  <search-common
    layout="column"
    common-searches="$ctrl.commonSearches"
    search-filter="$ctrl.searchFilter"
    search-active="$ctrl.searchActive"
    ng-if="$ctrl.searchFilter === ''">
  </search-common>
  <h4 ng-if="$ctrl.searchFilter === ''">Newest Organisations</h4>
  <organisation-list
    layout="row"
    organisations="$ctrl.organisationsNewest"
    limit-to="2"
    ng-if="$ctrl.searchFilter === ''">
  </organisation-list>

  <h4 ng-if="$ctrl.searchFilter === ''">Popular Organisations</h4>
  <organisation-list
    layout="row"
    organisations="$ctrl.organisationsPopular"
    limit-to="2"
    ng-if="$ctrl.searchFilter === ''">
  </organisation-list>
</main>
