<navbar
  title="Food Map"
  user-current="$root.currentUser">
</navbar>
<main>
  <promo-splash
    text="$ctrl.promoText">
  </promo-splash>
  <search-common
    layout="column"
    common-searches="$ctrl.commonSearches"
    search-filter="$ctrl.searchFilter"
    search-active="$ctrl.searchActive">
  </search-common>
  <h4 ng-if="$ctrl.searchFilter === ''">Newest Organisations</h4>
  <organisation-list
    layout="row"
    organisations="$ctrl.organisationsNewest"
    limit-to="2">
  </organisation-list>

  <h4 ng-if="$ctrl.searchFilter === ''">Popular Organisations</h4>
  <organisation-list
    layout="row"
    organisations="$ctrl.organisationsPopular"
    limit-to="2">
  </organisation-list>
</main>
