<md-card flex layout="column" style="outline:none;" align="left">
  <md-card-content>
    <div layout="row" layout-align="start center" layout-margin>
      <span flex>Organisation Avatar</span>
      <img-upload
        can-edit="true"
        on-success="$ctrl.imageSave(data, 'avatar')"
        on-delete="$ctrl.imageDelete('avatar')"
        on-error="$ctrl.imageError(error)"
        cl-img="$ctrl.organisation.avatar">
      </img-upload>
    </div>

    <div layout="row" layout-align="start center" layout-margin>
      <span flex>Organisation Logo</span>
      <img-upload
        can-edit="true"
        on-success="$ctrl.imageSave(data, 'logo')"
        on-delete="$ctrl.imageDelete('logo')"
        on-error="$ctrl.imageError(error)"
        cl-img="$ctrl.organisation.logo">
      </img-upload>
    </div>

    <div layout="row" layout-align="start center" layout-margin>
      <span flex>Organisation Banner</span>
      <img-upload
        can-edit="true"
        on-success="$ctrl.imageSave(data, 'banner')"
        on-delete="$ctrl.imageDelete('banner')"
        on-error="$ctrl.imageError(error)"
        cl-img="$ctrl.organisation.banner">
      </img-upload>
    </div>

    <md-input-container class="md-block">
      <label>Tagline</label>
      <input ng-model="$ctrl.organisation.tagLine">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Short Description</label>
      <textarea ng-model="$ctrl.organisation.shortDescription" md-maxlength="150" rows="1" md-select-on-focus></textarea>
    </md-input-container>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="$ctrl.modify()">Save</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
