<main layout="column" flex style="min-height:100vh;">
  <!-- list -->
  <div ng-if="$ctrl.editType === 'organisation'">
    <span layout="row">
      <md-button aria-label="More" class="md-icon-button" ui-sref="organisation({organisationId: $ctrl.organisationActive})">
        <md-icon style="color:black;">close</md-icon>
      </md-button>
      <h3>{{$ctrl.editType}} setings</h3>
    </span>
    <md-card flex layout="column" style="outline:none;" align="left">
      <md-card-content>
        <md-list>
          <md-list-item ng-click="$ctrl.editType = 'basic'">basic</md-list-item>
          <md-list-item ng-click="$ctrl.editType = 'branding'">branding</md-list-item>
          <md-list-item ng-click="$ctrl.editType = 'locations'">locations</md-list-item>
          <md-list-item ng-click="$ctrl.editType = 'description'">description</md-list-item>
          <md-list-item ng-click="$ctrl.editType = 'team'">team</md-list-item>
          <md-list-item ng-click="$ctrl.editType = 'inputs'">inputs</md-list-item>
          <md-list-item ng-click="$ctrl.editType = 'outputs'">outputs</md-list-item>
          <md-list-item ng-click="$ctrl.editType = 'links'">links</md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

  <!-- detail -->
  <div ng-if="$ctrl.editType !== 'organisation'">
    <span layout="row">
      <md-button aria-label="More" class="md-icon-button" ng-click="$ctrl.editType = 'organisation'">
        <md-icon style="color:black;">keyboard_backspace</md-icon>
      </md-button>
      <h3>{{$ctrl.editType}} setings</h3>
    </span>
  </div>
  <div ng-if="$ctrl.editType === 'basic'">
    <organisation-edit-basic
    organisation="$ctrl.organisationData.organisation"
    modify-organisation="$ctrl.modifyOrganisation(modifyDetails, stateChange)">
  </organisation-edit-basic>
  </div>
  <div ng-if="$ctrl.editType === 'branding'">
    <organisation-edit-branding
      organisation="$ctrl.organisationData.organisation"
      modify-organisation="$ctrl.modifyOrganisation(modifyDetails, stateChange)">
    </organisation-edit-branding>
  </div>
  <div ng-if="$ctrl.editType === 'locations'">
    <organisation-edit-locations
      organisation="$ctrl.organisationData.organisation"
      modify-locations="$ctrl.modifyLists(modifyDetails, stateChange)">
    </organisation-edit-locations>
  </div>
  <div ng-if="$ctrl.editType === 'locationsForm'">
    <organisation-edit-location-form
      organisation="$ctrl.organisationData.organisation"
      location="$ctrl.data"
      modify-location="$ctrl.modifyLists(modifyDetails, stateChange)">
    </organisation-edit-location-form>
  </div>
  <div ng-if="$ctrl.editType === 'description'">
    <organisation-edit-description
      organisation="$ctrl.organisationData.organisation"
      modify-organisation="$ctrl.modifyOrganisation(modifyDetails, stateChange)">
    </organisation-edit-description>
  </div>
  <div ng-if="$ctrl.editType === 'team'">
    <organisation-edit-team
      organisation="$ctrl.organisationData.organisation"
      team="$ctrl.organisationData.team"
      modify-team="$ctrl.modifyLists(modifyDetails, stateChange)">
    </organisation-edit-team>
  </div>
  <div ng-if="$ctrl.editType === 'inputs'">
    <organisation-edit-inputs
      organisation="$ctrl.organisationData.organisation"
      inputs="$ctrl.organisationData.inputs"
      modify-inputs="$ctrl.modifyLists(modifyDetails, stateChange)">
    </organisation-edit-inputs>
  </div>
  <div ng-if="$ctrl.editType === 'outputs'">
    <organisation-edit-outputs
      organisation="$ctrl.organisationData.organisation"
      outputs="$ctrl.organisationData.outputs"
      modify-outputs="$ctrl.modifyLists(modifyDetails, stateChange)">
    </organisation-edit-outputs>
  </div>
  <div ng-if="$ctrl.editType === 'links'">
    <organisation-edit-links
      organisation="$ctrl.organisationData.organisation"
      modify-organisation="$ctrl.modifyOrganisation(modifyDetails, stateChange)">
    </organisation-edit-links>
  </div>
  <div ng-if"$$ctrl.editType === 'team member'">
    <organisation-edit-team-member
      organisation="$ctrl.organisationData.organisation"
      modify-organisation="$ctrl.modifyOrganisation(modifyDetails, stateChange)">
    </organisation-edit-team-member>
  </div>
</main>
