<md-card flex layout="column" style="outline:none;" align="left">
  <md-card-content>
    <md-input-container class="md-block">
      <label>Facebook</label>
      <input ng-model="$ctrl.user.profile.social.facebook">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Twitter</label>
      <input ng-model="$ctrl.user.profile.social.twitter">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Instagram</label>
      <input ng-model="$ctrl.user.profile.social.instagram">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Youtube</label>
      <input ng-model="$ctrl.user.profile.social.youtube">
    </md-input-container>
  </md-card-content>
</md-card>
