<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div ng-repeat="field in $ctrl.fields">
          <!-- text -->
          <md-input-container class="md-block" ng-if="field.type === 'text'">
            <label>{{field.label}}</label>
            <md-input ng-model="$ctrl.data[field.model]"></md-input>
          </md-input-container>

          <!-- autocomplete -->
          <md-input-container class="md-block" ng-if="field.type === 'autocomplete'">
            <md-autocomplete
            md-input-name="autocompleteField"
            md-input-minlength="3"
            md-input-maxlength="24"
            md-selected-item="field.selectedItem"
            md-search-text="$ctrl.data[field.model]"
            md-items="item in $ctrl.querySearch(field, $ctrl.data[field.model])"
            md-item-text="item.name"
            md-floating-label="{{field.label}}"
            md-match-case-insensitive
            md-delay="400"
            >
              <md-item-template>
                <span md-highlight-text="$ctrl.data[field.model]">{{item.name}}</span>
              </md-item-template>
            </md-autocomplete>
          </md-input-container>

          <!-- select -->
          <md-input-container class="md-block" ng-if="field.type === 'select'">
            <label>{{field.label}}</label>
            <md-select ng-model="$ctrl.data[field.model]">
              <md-option ng-repeat="opt in field.options" ng-value="opt">{{opt}}</md-option>
            </md-select>
          </md-input-container>

        </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="$ctrl.cancel()">
        Cancel
      </md-button>
      <md-button ng-click="$ctrl.answer($ctrl.data)" type="submit">
        Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
