<md-tabs md-dynamic-height>
  <md-tab label="Home">
    <div layout="column" style="max-height: 100%">
      <md-content flex>
        <organisation-dashboard-home
          organisation="$ctrl.organisationData.organisation">
        </organisation-dashboard-home>
      </md-content>
    </div>
  </md-tab>
  <md-tab label="Info">
    <organisation-dashboard-info
      organisation="$ctrl.organisationData.organisation"
      team="$ctrl.organisationData.team">
    </organisation-dashboard-info>
  </md-tab>
  <md-tab label="I/O">
    <organisation-dashboard-i-o
      organisation="$ctrl.organisationData.organisation"
      inputs="$ctrl.organisationData.inputs"
      outputs="$ctrl.organisationData.outputs">
    </organisation-dashboard-i-o>
  </md-tab>
</md-tabs>
