<md-card flex layout="column" style="outline:none;" align="left">
  <md-card-content>
    <md-input-container class="md-block">
      <label>Name</label>
      <input ng-model="$ctrl.teamMember.name">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Job title</label>
      <input ng-model="$ctrl.teamMember.jobTitle">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Email</label>
      <input ng-model="$ctrl.teamMember.emails[0].address" type="email">
    </md-input-container>

    <md-select class="md-block" ng-model="$ctrl.teamMember.permission" placeholder="Permissions">
      <md-option ng-value="'full'">Full Access</md-option>
      <md-option ng-value="'none'">No Access</md-option>
    </md-select>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ui-sref="profileEdit({userId: $ctrl.teamMember._id})">More Detail</md-button>
      <md-button ng-click="$ctrl.modify($ctrl.teamMember)">Save</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
