<md-card flex layout="column" style="outline:none;" align="left">
  <md-card-content>
    <md-input-container class="md-block">
      <md-autocomplete
      md-input-name="autocompleteField"
      md-input-minlength="3"
      md-input-maxlength="24"
      md-delay="400"

      md-selected-item="$ctrl.teamMemberFound"
      md-search-text="$ctrl.searchText"
      md-item-text="item.name"
      md-floating-label="Name"

      md-selected-item-change="$ctrl.updateFields($ctrl.teamMemberFound)"
      md-items="item in $ctrl.querySearch({searchAPI: 'people', dbLabel: 'Person'}, $ctrl.searchText)"
      md-match-case-insensitive
      >
        <md-item-template>
          <span md-highlight-text="$ctrl.searchText">{{item.name}}</span>
        </md-item-template>
      </md-autocomplete>
    </md-input-container>

    <!--
    <md-input-container class="md-block">
      <label>Name</label>
      <input ng-model="$ctrl.teamMember.name">
    </md-input-container>
    -->

    <md-input-container class="md-block">
      <label>Job title</label>
      <input ng-model="$ctrl.teamMember.jobTitle">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Email</label>
      <input ng-model="$ctrl.teamMember.email" type="email">
    </md-input-container>

    <md-select class="md-block" ng-model="$ctrl.teamMember.permission" placeholder="Permissions">
      <md-option ng-value="'full'">Full Access</md-option>
      <md-option ng-value="'none'">No Access</md-option>
    </md-select>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ui-sref="profileEdit({userId: $ctrl.teamMember._id})">More Detail</md-button>
      <md-button ng-click="$ctrl.modify($ctrl.teamMember)">Save</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
