<navbar
  user="$ctrl.user"
  user-active="$ctrl.userActive"
  search-filter="$ctrl.searchFilter"
  search-active="$ctrl.searchActive"
  search-disabled="true"
  title="Food Map"
  page-owned="true"
  page-type="profile">
</navbar>
<main>
  {{$ctrl.profileData}}
  <user-info user="$ctrl.profileData.person"></user-info>
  <user-associations user="$ctrl.profileData.person" organisations-summary="$ctrl.userOrganisationsSummary"></user-associations>
  <organisation-list
    layout="row"
    flex
    organisations="$ctrl.userOrganisations">
  </organisation-list>

  <user-skills
    user="$ctrl.user"
    skills="$ctrl.userSkills"
    skills-summary"$ctrl.userSkillsSummary">
  </user-skills>
</main>
