<navbar
  user="$ctrl.profileData.person"
  user-active="$ctrl.userActive"
  search-filter="$ctrl.searchFilter"
  search-active="$ctrl.searchActive"
  search-disabled="true"
  title="Food Map"
  page-owned="true"
  page-type="profile">
</navbar>
<main>
  <user-info
    user="$ctrl.profileData.person">
  </user-info>
  <user-associations
    user="$ctrl.profileData.person"
    organisations="$ctrl.profileData.organisations"
    organisations-summary="$ctrl.profileData.organisationsSummary">
  </user-associations>

  <user-skills
    user="$ctrl.profileData.person"
    skills="$ctrl.profileData.skills"
    skills-summary="$ctrl.profileData.skillsSummary">
  </user-skills>
</main>
