<div layout-gt-xs="row">
  <span flex></span>
  <md-card flex flex-sm="50">
    <md-card-content>
      <span ng-if="$ctrl.state === 'logIn'">
        <h3>Log In</h3>
        <p ng-if="$ctrl.message">{{$ctrl.message}}</p>
        <form ng-submit="$ctrl.message = ''; $ctrl.logIn();">
          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="$ctrl.authentication.username" type="email">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input ng-model="$ctrl.authentication.password" type="password">
          </md-input-container>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="$ctrl.state = 'register'">Create Account</md-button>
            <span flex></span>
            <md-button class="md-raised" type="submit">Log In</md-button>
          </md-card-actions>
        </form>
      </span>
      <span ng-if="$ctrl.state === 'recover'">
        <h3>Recover Password</h3>
        <md-input-container class="md-block">
          <label>Email</label>
          <input ng-model="$ctrl.authentication.email" type="email">
        </md-input-container>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="$ctrl.state = 'logIn'">Log In</md-button>
          <md-button ng-click="$ctrl.state = 'register'">Create Account</md-button>
          <span flex></span>
          <md-button class="md-raised" ng-click="$ctrl.recoveryEmail(); $ctrl.state = 'logIn'">Send recovery email</md-button>
        </md-card-actions>
      </span>
      <span ng-if="$ctrl.state === 'register'">
        <h3>Create Account</h3>
        <md-input-container class="md-block">
          <label>Name</label>
          <input ng-model="$ctrl.userInfo.name">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Email</label>
          <input ng-model="$ctrl.authentication.email" type="email">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input ng-model="$ctrl.authentication.password" type="password">
        </md-input-container>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="$ctrl.state = 'logIn'">Log In</md-button>
          <span flex></span>
          <md-button  class="md-raised" ng-click="$ctrl.createAccount(); $ctrl.state = 'logIn'">Create Account</md-button>
        </md-card-actions>
      </span>
    </md-card-content>
  </md-card>
  <span flex></span>
</div>
