<md-list flex>
  <md-subheader class="md-no-sticky" ng-if="!$ctrl.hideHeader">Organisations</md-subheader>
  <md-list-item
    class="md-2-line"
    ng-repeat="organisation in $ctrl.organisations | filter: $ctrl.searchFilter"
    ui-sref="organisation({organisationId: organisation._id})">
    <organisation-avatar class="md-avatar" size="40"></organisation-avatar>
    <div class="md-list-item-text" layout="column">
      <h3>{{organisation.name}}</h3>
      <p>{{organisation.tagLine}}</p>
    </div>
    <span flex></span>
    <md-button
      ng-if="$ctrl.pageOwned && $ctrl.buttonType !== 'edit'"
      class="md-icon-button md-secondary"
      aria-label="Delete"
      ng-click="$ctrl.delete($index)">
      <md-icon style="color:black;">close</md-icon>
    </md-button>

    <md-button
      ng-if="$ctrl.pageOwned && $ctrl.buttonType === 'edit'"
      class="md-icon-button md-secondary"
      aria-label="Edit"
      ui-sref="organisationEdit({organisationId: organisation._id})">
      <md-icon style="color:black;">mode_edit</md-icon>
    </md-button>
  </md-list-item>
</md-list>
